<section>
    <style>
        @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
        #nav {            
            display: flex;
            justify-content: space-between;
    
            padding-left: 20px;
            padding-right: 20px;

            width: 100%;
    
            margin-bottom: 50px;

            background-color: #222831;
            color: white;
        }

        #nav #logo {
            width: 200px;
        }
    
        #nav #elements {
            display: flex;
            align-items: center;
            column-gap: 10px;
        }
    
        #nav p a, #nav a i {
            transition: color 0.3s;
        }

        #nav p a:hover, #nav a i:hover {
            color: #76ABAE;
        }
    </style>

    <div id="nav">
        <a href="/"><img id="logo" src="/static/assets/logo.png"></a>

        <div id="elements">
            <a href="/"><i class="bi bi-house-door-fill" style="font-size: 32px;"></i></a>
            
            <% if(user.loggedIn) { %>
                <% if(user.role == 'admin') { %>
                    <a href="/couponsList"><i class="bi bi-shield-fill-check" style="font-size: 32px"></i></a>
                <% } %>

                <p id="logoutBtn" style="color: red;"><a href="#">تسجيل الخروج</a></p>
            <% } else { %>
                <p><a href="/login">تسجيل الدخول</a></p>
            <% } %>

        </div>
    </div>

    <% if(user.loggedIn) { %>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const logoutBtn = document.querySelector('#logoutBtn');

                logoutBtn.addEventListener('click', async function() {
                    let resp = await fetch('/user/logout', {
                        method: "POST"
                    });
                        resp = await resp.json();

                    if(resp.status == 'success') window.location = '/';
                });
            });
        </script>
    <% } %>
</section>